<!DOCTYPE html>
<html lang="en">

    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <head>
        <title>Home</title>
        <meta charset="utf-8">
        <meta name="format-detection" content="telephone=no"/>
        <link rel="icon" href="" type="image/x-icon">
        <link rel="stylesheet" href="css/grid.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/camera.css">
        <link rel="stylesheet" href="css/google-map.css">
        <link rel="stylesheet" href="css/jquery.fancybox.css">

        <script src="js/jquery.js"></script>
        <script src="js/jquery-migrate-1.2.1.js"></script> 

        <!--[if lt IE 9]> 
        <html class="lt-ie9">
        <div style=' clear: both; text-align:center; position: relative;'>
                <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
                        <img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
                                         alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
                </a>
        </div>
        <script src="js/html5shiv.js"></script>
        <![endif]-->

        <script src='js/device.min.js'></script>
    </head>
    <body>
        <div class="page">
            <!--========================================================
                                                                                                                    HEADER
            =========================================================-->
            <header>

                <div class="camera_container">
                    <div id="camera" class="camera_wrap">
                        <div data-src="images/page-1_slide01.jpg">
                            <div class="camera_caption fadeIn">

                                <h2>
                                    حفاظ های بوته خاری
                                </h2>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                                <a href="#" class="btn">ادامه</a>

                            </div>
                        </div>
                        <div data-src="images/page-1_slide02.jpg">
                            <div class="camera_caption fadeIn">

                                <h2>
                                    بوته خاری
                                </h2>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است<br>و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                                <a href="#" class="btn">ادامه</a>

                            </div>
                        </div>
                        <div data-src="images/page-1_slide03.jpg">
                            <div class="camera_caption fadeIn">

                                <h2>
                                    پاسبان حریم امن خانه ی شما

                                </h2>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
                                <a href="#" class="btn">ادامه</a>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="container">
                    <div class="brand camera">
                        <h1 class="brand_name">
                            <a href="index.html">
                                <img src="images/logo.png" alt="">
                                گروه صنعتی‌ صدرا
                            </a>
                        </h1>
                    </div>
                </div>


                <div id="stuck_container" class="stuck_container">
                    <div class="container">

                        <nav class="nav">
                            <ul class="sf-menu" data-type="navbar">
                                <li class="active">
                                    <a href="index.html">صفحه اصلی‌</a>
                                </li>
                                <li>
                                    <a href="index.html">درباره ما</a>
                                    <ul>
                                        <li>
                                            <a href="#">سرویس ها</a>
                                        </li>
                                        <li>
                                            <a href="#">سرویس ها</a>
                                            <ul>
                                                <li>
                                                    <a href="#">زیر مجموعه</a>
                                                </li>
                                                <li>
                                                    <a href="#">زیر مجموعه</a>
                                                </li>
                                                <li>
                                                    <a href="#">زیر مجموعه</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">سرویس ها</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="index.html">ارتباط با ما</a>
                                </li>
                                <li>
                                    <a href="index.html">اخبار</a>
                                </li>
                                <li>
                                    <a href="index.html">گالری</a>
                                </li>
                                <li>
                                    <a href="index.html">خدمات</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </header>
            <!--========================================================
                                                                                                                    CONTENT
            =============================x============================-->
            <main>
                <section class="gallery">
                    <div class="thumb_main">
                        <a href="images/page1_gall1_small_img1.jpg" data-fancybox-group="1" class="thumb">
                            <img src="images/page1_gall1_small_img1.jpg" alt="">
                            <span class="thumb_overlay"> </span>
                        </a>
                        <div class="thumb_overlay_cnt">
                            <em>لورم ایپسوم</em>
                            <a href="#" class="btn2">ادامه</a>
                        </div>
                    </div>


                    <div class="thumb_main">
                        <a href="images/page1_gall1_small_img2.jpg" data-fancybox-group="1" class="thumb">
                            <img src="images/page1_gall1_small_img2.jpg" alt="">
                            <span class="thumb_overlay"> </span>
                        </a>
                        <div class="thumb_overlay_cnt">
                            <em>لورم ایپسوم</em>
                            <a href="#" class="btn2">ادامه</a>
                        </div>
                    </div>


                    <div class="thumb_main">
                        <a href="images/page1_gall1_small_img3.jpg" data-fancybox-group="1" class="thumb">
                            <img src="images/page1_gall1_small_img3.jpg" alt="">
                            <span class="thumb_overlay"> </span>
                        </a>
                        <div class="thumb_overlay_cnt">
                            <em>لورم ایپسوم</em>
                            <a href="#" class="btn2">ادامه</a>
                        </div>
                    </div>

                </section>

                <section class="well">
                    <div class="container mobile_cntr">
                        <div class="row">
                            <div class="grid_4">
                                <h2>درباره ما</h2>
                                <h3>تولید کننده حفاظ </h3>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                                <a href="#" class="btn">ادامه</a>
                            </div>

                            <div class="grid_4">
                                <h2>چرا ما</h2>
                                <h3>تولید کننده حفاظ </h3>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                                <a href="#" class="btn">ادامه</a>
                            </div>

                            <div class="grid_4">
                                <h2>هدف ما</h2>
                                <h3>تولید کننده حفاظ </h3>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                                <a href="#" class="btn">ادامه</a>
                            </div>
                        </div>
                    </div>
                </section>

                <hr>

                <section class="well2 cntr">
                    <div class="container">
                        <div class="row">
                            <div class="grid_10 preffix_1">
                                <h2>خوش آمدید</h2>
                                <h3>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </h3>
                                <p>چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیستری را برای طراحان رایانه ای و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
                                <a href="#" class="btn btn_wide1">ادامه</a>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="parallax well3" data-url="images/parallax1.jpg" data-mobile="true" data-speed="1"> 
                    <div class="container">
                        <div class="brand">
                            <h1 class="brand_name">
                                <a href="index-2.html">
                                    <img src="images/logo.png" alt="">
                                    گروه صنعتی صدرا
                                </a>
                            </h1>
                        </div>

                        <dl>
                            <dt>با  ما تماس بگیرید</dt>
                            <dd><em>+1 800 777 5599</em></dd>
                        </dl>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                        <a href="#" class="btn big_btn">ادامه</a>
                    </div>
                </section>


                <section class="gallery cntr">
                    <div class="well4">
                        <h2>گالری</h2>
                    </div>

                    <div class="thumb_main">
                        <a href="images/page1_gall2_small_img1.jpg" data-fancybox-group="2" class="thumb">
                            <img src="images/page1_gall2_small_img1.jpg" alt="">
                            <span class="thumb_overlay"> </span>
                        </a>
                        <div class="thumb_overlay_cnt">
                            <em>نام محصول</em>
                            <a href="#" class="btn2">ادامه</a>
                        </div>
                    </div>

                    <div class="thumb_main">
                        <a href="images/page1_gall2_small_img2.jpg" data-fancybox-group="2" class="thumb">
                            <img src="images/page1_gall2_small_img2.jpg" alt="">
                            <span class="thumb_overlay"> </span>
                        </a>
                        <div class="thumb_overlay_cnt">
                            <em>نام محصول</em>
                            <a href="#" class="btn2">ادامه</a>
                        </div>
                    </div>

                    <div class="thumb_main">
                        <a href="images/page1_gall2_small_img3.jpg" data-fancybox-group="2" class="thumb">
                            <img src="images/page1_gall2_small_img3.jpg" alt="">
                            <span class="thumb_overlay"> </span>
                        </a>
                        <div class="thumb_overlay_cnt">
                            <em>نام محصول</em>
                            <a href="#" class="btn2">ادامه</a>
                        </div>
                    </div>

                    <div class="thumb_main">
                        <a href="images/page1_gall2_small_img4.jpg" data-fancybox-group="2" class="thumb">
                            <img src="images/page1_gall2_small_img4.jpg" alt="">
                            <span class="thumb_overlay"> </span>
                        </a>
                        <div class="thumb_overlay_cnt">
                            <em>نام محصول</em>
                            <a href="#" class="btn2">ادامه</a>
                        </div>
                    </div>

                    <div class="thumb_main">
                        <a href="images/page1_gall2_small_img5.jpg" data-fancybox-group="2" class="thumb">
                            <img src="images/page1_gall2_small_img5.jpg" alt="">
                            <span class="thumb_overlay"> </span>
                        </a>
                        <div class="thumb_overlay_cnt">
                            <em>نام محصول</em>
                            <a href="#" class="btn2">ادامه</a>
                        </div>
                    </div>

                    <div class="thumb_main">
                        <a href="images/page1_gall2_small_img6.jpg" data-fancybox-group="2" class="thumb">
                            <img src="images/page1_gall2_small_img6.jpg" alt="">
                            <span class="thumb_overlay"> </span>
                        </a>
                        <div class="thumb_overlay_cnt">
                            <em>نام محصول</em>
                            <a href="#" class="btn2">ادامه</a>
                        </div>
                    </div>



                    <a href="index-5.html" class="btn btn_pad_big">ادامه گالری</a>
                </section>


                <section class="map">
                    <div class="google-maps map_model" data-marker-address="Willem Buytewechstraat 45, Rotterdam" data-map-address="Delfshaven, Rotterdam" data-zoom="14"></div>

                    <ul class="map_locations">
                        <li data-x="-73.9874068" data-y="40.643180">
                            <p> 9870 St Vincent Place, Glasgow, DC 45 Fr 45. <span>800 2345-6789</span></p>
                        </li>
                    </ul>
                </section>



            </main>
            <!--========================================================
                                                                                                                    FOOTER
            =========================================================-->
            <footer>
                <div class="container">

                    <ul class="inline-list">
                        <li><a href="#" class="fa-facebook"></a></li>
                        <li><a href="#" class="fa-pinterest"></a></li>
                        <li><a href="#" class="fa-twitter"></a></li>
                        <li><a href="#" class="fa-google-plus"></a></li>
                        <li><a href="#" class="fa-instagram "></a></li>
                    </ul>

                    <address>
                        آدرس : <br> شهر - خیابان - کوچه - ساختمان 
                    </address>

                    <div class="brand">
                        <h1 class="brand_name">
                            <a href="index-2.html">
                                <img src="images/logo_footer.png" alt="">
                                گروه صنعتی صدرا
                            </a>
                        </h1>
                    </div>

                    <p>گروه صنعتی صدرا © <span id="copyright-year"></span> • <a href="index.html">Privacy Policy</a></p>
                    <!-- {%FOOTER_LINK} -->
                </div>
            </footer>
        </div>

        <script src="js/script.js"></script>
        <script type="text/javascript" src="js/gmap3.min.js"></script>
        <a style="display: inline;" href="#" id="toTop" class="toTop fa fa-angle-up"></a>
        <div class="rd-mobilemenu">
            <ul class="rd-mobilemenu_ul">
                <li class="active">
                    <a href="">صفحه اصلی‌</a>
                </li>
                <li>
                    <a class="rd-with-ul" href="">درباره ما<span class="rd-submenu-toggle"></span>
                    </a>
                    <ul style="display: none;" class="rd-mobilemenu_submenu">
                        <li>
                            <a href="#">سرویس ها</a>
                        </li>
                        <li>
                            <a href="#">سرویس ها</a>
                            <ul>
                                <li>
                                    <a href="#">زیر مجموعه</a>
                                </li>
                                <li>
                                    <a href="#">زیر مجموعه</a>
                                </li>
                                <li>
                                    <a href="#">زیر مجموعه</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">سرویس ها</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="">ارتباط با ما</a>
                </li>
                <li>
                    <a href="">اخبار</a>
                </li>
                <li>
                    <a href="">گالری</a>
                </li>
                <li>
                    <a href="">خدمات</a>
                </li>
            </ul>
        </div>
        <div class="rd-mobilepanel">
            <button class="rd-mobilepanel_toggle"><span></span></button>
            <h2 class="rd-mobilepanel_title">صفحه اصلی</h2>
        </div>

    </body>

</html>